# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp

# VCS metadata
.svn/
.git/

# Logs & debug
*.log
debug.log
ipn_*_debug.log
ipn_handle_debug.log

# Backups
*~
*.bak
*.po~

# Node (blocks)
node_modules/
