/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-price-variation-add-cart-block {
    background-color: #f1f1f1;
	border: 1px solid black;
    padding: 20px;
    margin: 20px 0;
}

