.wp-block-create-block-simple-add-cart-block {
	border: 1px dotted red;
}

#productInfo {
	background-color: #f1f1f1;
	border: 1px solid black;
	padding: 20px;
	margin: 20px;
}

.productTag {
	font-style: italic;
	color: rgb(255, 255, 255);
}
