.wp-block-create-block-copyright-date-block {
	border: 1px dotted red;
}

#productInfo {
	background-color: #1233f1;
	padding: 20px;
	margin: 20px;
}

.productTag {
	font-style: italic;
	color: rgb(255, 255, 255);
}
