/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-simple-cart-block {
    margin: 20px;
	padding: 20px;
	border-top: 1px solid #000000;
	font-size: 20px;
}
